@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}


body {
  background: #fff;
}

.hero {
  background-image: url('/hero-desktop.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.hero::after {
  content: '';
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 30%;
  z-index: 1;
}


.search-wrap-layer {
  content: '';
  position: absolute;
  width: 450px;
  height: 90px;
  background: #fff;
  opacity: .5;
  top: 44%;
  left: 28.4%;
  border-radius: 10px;
  z-index: 2;
}


@media (max-width: 768px) {
  .hero {
    background-image: ('/hero-mobile.jpg');
    background-size: cover;
    height: 300px;
  }

  .search-wrap-layer {
    left: 5%;
    right: 5%;
    height: 70px;
    width: auto;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-border {
    -webkit-text-stroke-color: #000;
  }
}
