@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}


body {
  background: #fff;
}

.hero {
  background-image: url('/hero-desktop.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.hero::after {
  content: '';
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 20%;
  z-index: 1;
}

@media (max-width: 768px) {
  .hero {
    background-image: ('/hero-mobile.jpg');
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
